{"openapi":"3.0.3","info":{"title":"Leadstaker API","version":"1.0.0","description":"Public REST API for Leadstaker projects."},"servers":[{"url":"https://n-api.leadstaker.com","description":"Production"}],"tags":[{"name":"Fields","description":"Custom field definitions, both the built-in ones and the ones a project creates."},{"name":"Field groups","description":"Sections that organize custom fields in the interface."},{"name":"Deals","description":"Opportunities moving through a pipeline, each tied to a contact."},{"name":"Contacts","description":"People inside a project, holding the custom field values collected about them."},{"name":"Messages","description":"Individual messages inside a chat, inbound and outbound."},{"name":"Chats","description":"Conversations with a contact over a connected channel."},{"name":"Loss reasons","description":"The catalog of reasons a deal can be marked as lost."},{"name":"Pipelines","description":"Ordered sets of stages a deal travels through."},{"name":"Stages","description":"Steps inside a pipeline, including the built-in open and closed ones."},{"name":"Tags","description":"Free-form labels attached to deals."},{"name":"Notes","description":"Free text attached to a contact or a deal, written by a user, an agent, or the system."}],"paths":{"/v1/fields":{"get":{"tags":["Fields"],"summary":"List fields","operationId":"getFields","security":[{"apiKey":[]}],"parameters":[{"name":"entityTypes","in":"query","required":false,"description":"Comma-separated entity types to filter by: DEAL, CONTACT.","schema":{"type":"string","minLength":1}},{"name":"pipelineId","in":"query","required":false,"description":"Restricts the result to the fields visible on a pipeline.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["TEXT"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["NUMBER"]},"config":{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["DATE"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["BOOLEAN"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["OPTIONS"]},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","config","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["MULTISELECT"]},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","config","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["PHONE"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["EMAIL"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CPF"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CNPJ"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CPF_CNPJ"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CEP"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CURRENCY"]},"config":{"type":"object","properties":{"currency":{"type":"string","enum":["BRL"]},"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false}]}},"hasMore":{"type":"boolean"},"limit":{"type":"number"},"offset":{"type":"number"},"total":{"type":"number"}},"required":["data","hasMore","limit","offset","total"],"additionalProperties":false},"example":{"data":[{"id":"66eab3c47d21ff0011b2d6e8","entityType":"CONTACT","label":"Nome","type":"TEXT","config":{},"position":0,"level":"USER","fieldGroupId":"66eab3c47d21ff0011b2d6f0","projectId":"665f1c2e8a94b70012d4e9a1","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}],"hasMore":false,"limit":10,"offset":0,"total":1}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Filter with `entityTypes` and `pipelineId` only: this endpoint does not read the bracket reserved keys or the `field[op]` filters the other lists accept."},"post":{"tags":["Fields"],"summary":"Create a field","operationId":"postFields","security":[{"apiKey":[]}],"parameters":[],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["TEXT"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["NUMBER"]},"config":{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["DATE"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["BOOLEAN"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["OPTIONS"]},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","config","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["MULTISELECT"]},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","config","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["PHONE"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["EMAIL"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CPF"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CNPJ"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CPF_CNPJ"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CEP"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CURRENCY"]},"config":{"type":"object","properties":{"currency":{"type":"string","enum":["BRL"]},"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false}]},"example":{"id":"66eab3c47d21ff0011b2d6e8","entityType":"CONTACT","label":"Nome","type":"TEXT","config":{},"position":0,"level":"USER","fieldGroupId":"66eab3c47d21ff0011b2d6f0","projectId":"665f1c2e8a94b70012d4e9a1","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Creates the field in the project of the API key and answers 201 with the created record.","requestBody":{"required":true,"content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["TEXT"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["NUMBER"]},"config":{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["DATE"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["BOOLEAN"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["OPTIONS"]},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type","config"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["MULTISELECT"]},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type","config"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["PHONE"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["EMAIL"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["CPF"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["CNPJ"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["CPF_CNPJ"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["CEP"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"type":{"type":"string","enum":["CURRENCY"]},"config":{"type":"object","properties":{"currency":{"type":"string","enum":["BRL"]},"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"],"default":"USER"}},"required":["entityType","label","type"],"additionalProperties":false}]}}}}}},"/v1/fields/{id}":{"get":{"tags":["Fields"],"summary":"Get a field by id","operationId":"getFieldsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["TEXT"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["NUMBER"]},"config":{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["DATE"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["BOOLEAN"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["OPTIONS"]},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","config","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["MULTISELECT"]},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","config","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["PHONE"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["EMAIL"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CPF"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CNPJ"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CPF_CNPJ"]},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CEP"]},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false},{"type":"object","properties":{"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"label":{"type":"string"},"fieldGroupId":{"type":"string"},"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["CURRENCY"]},"config":{"type":"object","properties":{"currency":{"type":"string","enum":["BRL"]},"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"level":{"type":"string","enum":["USER","API"]},"code":{"type":"string","enum":["NAME","PHONE","EMAIL","PRICE","ACQUISITION_SOURCE","ORIGIN_URL","LEAD_ID","WHATSAPP_LID","CUSTOM_ID"]},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["entityType","label","id","type","level"],"additionalProperties":false}]},"example":{"id":"66eab3c47d21ff0011b2d6e8","entityType":"CONTACT","label":"Nome","type":"TEXT","config":{},"position":0,"level":"USER","fieldGroupId":"66eab3c47d21ff0011b2d6f0","projectId":"665f1c2e8a94b70012d4e9a1","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers 404 when the id does not exist or belongs to another project."},"patch":{"tags":["Fields"],"summary":"Update a field","operationId":"patchFieldsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Partial update: only the keys present in the body change. Answers 204 with no body.","requestBody":{"required":true,"content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["TEXT"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["NUMBER"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["DATE"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["BOOLEAN"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["OPTIONS"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["MULTISELECT"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{"options":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["options"],"additionalProperties":false},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["PHONE"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["EMAIL"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["CPF"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["CNPJ"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["CPF_CNPJ"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{"strict":{"type":"boolean"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["CEP"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["CURRENCY"]},"label":{"type":"string","minLength":1},"config":{"type":"object","properties":{"currency":{"type":"string","enum":["BRL"]},"min":{"type":"number"},"max":{"type":"number"}},"additionalProperties":false,"default":{}},"position":{"type":"integer","minimum":0},"fieldGroupId":{"type":"string","minLength":1},"level":{"type":"string","enum":["USER","API"]}},"required":["type"],"additionalProperties":false}]}}}}},"delete":{"tags":["Fields"],"summary":"Delete a field","operationId":"deleteFieldsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"The field is deleted. Answers 204 with no body."}},"/v1/field-groups":{"get":{"tags":["Field groups"],"summary":"List field groups","operationId":"getFieldGroups","security":[{"apiKey":[]}],"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"name":{"type":"string","minLength":1},"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"position":{"type":"integer","minimum":0},"code":{"type":"string","minLength":1},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","entityType"],"additionalProperties":false}},"hasMore":{"type":"boolean"},"limit":{"type":"number"},"offset":{"type":"number"},"total":{"type":"number"}},"required":["data","hasMore","limit","offset","total"],"additionalProperties":false},"example":{"data":[{"id":"66eab3c47d21ff0011b2d6f0","name":"Dados de contato","entityType":"CONTACT","position":0,"projectId":"665f1c2e8a94b70012d4e9a1","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}],"hasMore":false,"limit":10,"offset":0,"total":1}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers with the paginated envelope: the matching field groups in `data`, plus `hasMore`, `limit`, `offset` and `total`."},"post":{"tags":["Field groups"],"summary":"Create a field group","operationId":"postFieldGroups","security":[{"apiKey":[]}],"parameters":[],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":1},"name":{"type":"string","minLength":1},"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"position":{"type":"integer","minimum":0},"code":{"type":"string","minLength":1},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","entityType"],"additionalProperties":false},"example":{"id":"66eab3c47d21ff0011b2d6f0","name":"Dados de contato","entityType":"CONTACT","position":0,"projectId":"665f1c2e8a94b70012d4e9a1","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Creates the field group in the project of the API key and answers 201 with the created record.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"position":{"type":"integer","minimum":0}},"required":["name"],"additionalProperties":false}}}}}},"/v1/field-groups/{id}":{"get":{"tags":["Field groups"],"summary":"Get a field group by id","operationId":"getFieldGroupsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":1},"name":{"type":"string","minLength":1},"entityType":{"type":"string","enum":["DEAL","CONTACT"]},"position":{"type":"integer","minimum":0},"code":{"type":"string","minLength":1},"projectId":{"type":"string","minLength":1},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","entityType"],"additionalProperties":false},"example":{"id":"66eab3c47d21ff0011b2d6f0","name":"Dados de contato","entityType":"CONTACT","position":0,"projectId":"665f1c2e8a94b70012d4e9a1","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers 404 when the id does not exist or belongs to another project."},"patch":{"tags":["Field groups"],"summary":"Update a field group","operationId":"patchFieldGroupsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Partial update: only the keys present in the body change. Answers 204 with no body.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"position":{"type":"integer","minimum":0}},"additionalProperties":false}}}}},"delete":{"tags":["Field groups"],"summary":"Delete a field group","operationId":"deleteFieldGroupsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"The field group is deleted. Answers 204 with no body."}},"/v1/deals":{"get":{"tags":["Deals"],"summary":"List deals","operationId":"getDeals","security":[{"apiKey":[]}],"parameters":[{"name":"[limit]","in":"query","required":false,"description":"How many records to return, at most 100.","schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"[offset]","in":"query","required":false,"description":"How many records to skip.","schema":{"type":"integer","minimum":0}},{"name":"[project]","in":"query","required":false,"description":"Comma-separated list of fields to return, e.g. `id,createdAt`.","schema":{"type":"string","minLength":1}},{"name":"[with]","in":"query","required":false,"description":"Comma-separated list of relations to populate.","schema":{"type":"string","minLength":1}},{"name":"[logic]","in":"query","required":false,"description":"How to combine the filters. Defaults to AND.","schema":{"type":"string","enum":["AND","OR"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"projectId":{"type":"string","minLength":1},"contactId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false,"description":"Custom field value for this entity"}},"agentId":{"type":"string","minLength":1},"tagIds":{"type":"array","items":{"type":"string"}},"isTest":{"type":"boolean"},"responsibleId":{"type":"string","minLength":1},"pipelineId":{"type":"string","minLength":1},"stageId":{"type":"string","minLength":1},"lossReasonId":{"type":"string","minLength":1},"stageEnteredAt":{"type":"string","format":"date-time"},"closedAt":{"type":"string","format":"date-time"},"lastLeadMessageAt":{"type":"string","format":"date-time"},"contact":{"type":"object","properties":{"id":{"type":"string"},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"avatar":{"type":"string","minLength":1},"projectId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}},"isTest":{"type":"boolean"}},"required":["id","createdAt","updatedAt","projectId"],"additionalProperties":false},"chat":{"type":"object","properties":{"unreadMessagesCount":{"type":"number"},"lastMessage":{"type":"object","additionalProperties":{}},"lastLeadMessageTimestamp":{"type":"string","format":"date-time"},"unreadByChatId":{"type":"object","additionalProperties":{"type":"number"}}},"required":["unreadMessagesCount","unreadByChatId"],"additionalProperties":false}},"required":["id","createdAt","updatedAt","projectId","responsibleId"],"additionalProperties":false}},"hasMore":{"type":"boolean"},"limit":{"type":"number"},"offset":{"type":"number"},"total":{"type":"number"}},"required":["data","hasMore","limit","offset","total"],"additionalProperties":false},"example":{"data":[{"id":"6715be3a9c40aa0013d8e5c2","projectId":"665f1c2e8a94b70012d4e9a1","contactId":"6712a4d95b38ee0011c9f2b4","fields":[{"fieldId":"66eab3c47d21ff0011b2d6ea","value":1200}],"tagIds":["67102f6c3e85dd0012f5b8c3"],"responsibleId":"664d9e0b7c83aa0010f1c2d3","pipelineId":"670fa8b21d94cc0010e3c7a5","stageId":"670fa8b21d94cc0010e3c7a8","stageEnteredAt":"2026-01-14T11:20:00.000Z","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}],"hasMore":false,"limit":10,"offset":0,"total":1}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers with the paginated envelope: the matching deals in `data`, plus `hasMore`, `limit`, `offset` and `total`."},"post":{"tags":["Deals"],"summary":"Create a deal","operationId":"postDeals","security":[{"apiKey":[]}],"parameters":[],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"projectId":{"type":"string","minLength":1},"contactId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false,"description":"Custom field value for this entity"}},"agentId":{"type":"string","minLength":1},"tagIds":{"type":"array","items":{"type":"string"}},"isTest":{"type":"boolean"},"responsibleId":{"type":"string","minLength":1},"pipelineId":{"type":"string","minLength":1},"stageId":{"type":"string","minLength":1},"lossReasonId":{"type":"string","minLength":1},"stageEnteredAt":{"type":"string","format":"date-time"},"closedAt":{"type":"string","format":"date-time"},"lastLeadMessageAt":{"type":"string","format":"date-time"},"contact":{"type":"object","properties":{"id":{"type":"string"},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"avatar":{"type":"string","minLength":1},"projectId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}},"isTest":{"type":"boolean"}},"required":["id","createdAt","updatedAt","projectId"],"additionalProperties":false},"chat":{"type":"object","properties":{"unreadMessagesCount":{"type":"number"},"lastMessage":{"type":"object","additionalProperties":{}},"lastLeadMessageTimestamp":{"type":"string","format":"date-time"},"unreadByChatId":{"type":"object","additionalProperties":{"type":"number"}}},"required":["unreadMessagesCount","unreadByChatId"],"additionalProperties":false}},"required":["id","createdAt","updatedAt","projectId","responsibleId"],"additionalProperties":false},"example":{"id":"6715be3a9c40aa0013d8e5c2","projectId":"665f1c2e8a94b70012d4e9a1","contactId":"6712a4d95b38ee0011c9f2b4","fields":[{"fieldId":"66eab3c47d21ff0011b2d6ea","value":1200}],"tagIds":["67102f6c3e85dd0012f5b8c3"],"responsibleId":"664d9e0b7c83aa0010f1c2d3","pipelineId":"670fa8b21d94cc0010e3c7a5","stageId":"670fa8b21d94cc0010e3c7a8","stageEnteredAt":"2026-01-14T11:20:00.000Z","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Creates the deal in the project of the API key and answers 201 with the created record.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"contactId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false,"description":"Custom field value for this entity"},"description":"Custom field values for the deal"},"pipelineId":{"type":"string","minLength":1},"stageId":{"type":"string","minLength":1},"lossReasonId":{"type":"string","minLength":1},"tagIds":{"type":"array","items":{"type":"string"}}},"additionalProperties":false}}}}}},"/v1/deals/{id}":{"get":{"tags":["Deals"],"summary":"Get a deal by id","operationId":"getDealsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"projectId":{"type":"string","minLength":1},"contactId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false,"description":"Custom field value for this entity"}},"agentId":{"type":"string","minLength":1},"tagIds":{"type":"array","items":{"type":"string"}},"isTest":{"type":"boolean"},"responsibleId":{"type":"string","minLength":1},"pipelineId":{"type":"string","minLength":1},"stageId":{"type":"string","minLength":1},"lossReasonId":{"type":"string","minLength":1},"stageEnteredAt":{"type":"string","format":"date-time"},"closedAt":{"type":"string","format":"date-time"},"lastLeadMessageAt":{"type":"string","format":"date-time"},"contact":{"type":"object","properties":{"id":{"type":"string"},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"avatar":{"type":"string","minLength":1},"projectId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}},"isTest":{"type":"boolean"}},"required":["id","createdAt","updatedAt","projectId"],"additionalProperties":false},"chat":{"type":"object","properties":{"unreadMessagesCount":{"type":"number"},"lastMessage":{"type":"object","additionalProperties":{}},"lastLeadMessageTimestamp":{"type":"string","format":"date-time"},"unreadByChatId":{"type":"object","additionalProperties":{"type":"number"}}},"required":["unreadMessagesCount","unreadByChatId"],"additionalProperties":false}},"required":["id","createdAt","updatedAt","projectId","responsibleId"],"additionalProperties":false},"example":{"id":"6715be3a9c40aa0013d8e5c2","projectId":"665f1c2e8a94b70012d4e9a1","contactId":"6712a4d95b38ee0011c9f2b4","fields":[{"fieldId":"66eab3c47d21ff0011b2d6ea","value":1200}],"tagIds":["67102f6c3e85dd0012f5b8c3"],"responsibleId":"664d9e0b7c83aa0010f1c2d3","pipelineId":"670fa8b21d94cc0010e3c7a5","stageId":"670fa8b21d94cc0010e3c7a8","stageEnteredAt":"2026-01-14T11:20:00.000Z","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers 404 when the id does not exist or belongs to another project."},"patch":{"tags":["Deals"],"summary":"Update a deal","operationId":"patchDealsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Partial update: only the keys present in the body change. Answers 204 with no body.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"contactId":{"type":"string","minLength":1},"responsibleId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false,"description":"Custom field value for this entity"}},"pipelineId":{"type":"string","minLength":1},"tagIds":{"type":"array","items":{"type":"string"}},"stageId":{"type":"string","minLength":1},"lossReasonId":{"type":"string","minLength":1,"nullable":true}},"additionalProperties":false}}}}},"delete":{"tags":["Deals"],"summary":"Delete a deal","operationId":"deleteDealsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"The deal is deleted. Answers 204 with no body."}},"/v1/deals/{dealId}/tags":{"post":{"tags":["Deals"],"summary":"Attach tags to a deal","operationId":"postDealsByDealIdTags","security":[{"apiKey":[]}],"parameters":[{"name":"dealId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Attaches every tag in `tagIds` to the deal. Answers 204 with no body.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tagIds":{"type":"array","items":{"type":"string","minLength":1}}},"required":["tagIds"],"additionalProperties":false}}}}}},"/v1/deals/{dealId}/tags/{tagId}":{"delete":{"tags":["Deals"],"summary":"Detach a tag from a deal","operationId":"deleteDealsByDealIdTagsByTagId","security":[{"apiKey":[]}],"parameters":[{"name":"dealId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"tagId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Detaches the tag from the deal. Answers 204 with no body."}},"/v1/contacts":{"get":{"tags":["Contacts"],"summary":"List contacts","operationId":"getContacts","security":[{"apiKey":[]}],"parameters":[{"name":"[limit]","in":"query","required":false,"description":"How many records to return, at most 100.","schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"[offset]","in":"query","required":false,"description":"How many records to skip.","schema":{"type":"integer","minimum":0}},{"name":"[project]","in":"query","required":false,"description":"Comma-separated list of fields to return, e.g. `id,createdAt`.","schema":{"type":"string","minLength":1}},{"name":"[with]","in":"query","required":false,"description":"Comma-separated list of relations to populate.","schema":{"type":"string","minLength":1}},{"name":"[logic]","in":"query","required":false,"description":"How to combine the filters. Defaults to AND.","schema":{"type":"string","enum":["AND","OR"]}},{"name":"search","in":"query","required":false,"description":"Free-text search across the contact fields.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"avatar":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}},"projectId":{"type":"string","minLength":1},"responsibleId":{"type":"string","minLength":1},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","projectId","createdAt","updatedAt"],"additionalProperties":false}},"hasMore":{"type":"boolean"},"limit":{"type":"number"},"offset":{"type":"number"},"total":{"type":"number"}},"required":["data","hasMore","limit","offset","total"],"additionalProperties":false},"example":{"data":[{"id":"6712a4d95b38ee0011c9f2b4","fields":[{"fieldId":"66eab3c47d21ff0011b2d6e8","value":"Maria Andrade"},{"fieldId":"66eab3c47d21ff0011b2d6e9","value":"+5551999999999"}],"projectId":"665f1c2e8a94b70012d4e9a1","responsibleId":"664d9e0b7c83aa0010f1c2d3","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}],"hasMore":false,"limit":10,"offset":0,"total":1}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers with the paginated envelope: the matching contacts in `data`, plus `hasMore`, `limit`, `offset` and `total`."},"post":{"tags":["Contacts"],"summary":"Create a contact","operationId":"postContacts","security":[{"apiKey":[]}],"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":1},"avatar":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}},"projectId":{"type":"string","minLength":1},"responsibleId":{"type":"string","minLength":1},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","projectId","createdAt","updatedAt"],"additionalProperties":false},"example":{"id":"6712a4d95b38ee0011c9f2b4","fields":[{"fieldId":"66eab3c47d21ff0011b2d6e8","value":"Maria Andrade"},{"fieldId":"66eab3c47d21ff0011b2d6e9","value":"+5551999999999"}],"projectId":"665f1c2e8a94b70012d4e9a1","responsibleId":"664d9e0b7c83aa0010f1c2d3","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"201":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":1},"avatar":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}},"projectId":{"type":"string","minLength":1},"responsibleId":{"type":"string","minLength":1},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","projectId","createdAt","updatedAt"],"additionalProperties":false},"example":{"id":"6712a4d95b38ee0011c9f2b4","fields":[{"fieldId":"66eab3c47d21ff0011b2d6e8","value":"Maria Andrade"},{"fieldId":"66eab3c47d21ff0011b2d6e9","value":"+5551999999999"}],"projectId":"665f1c2e8a94b70012d4e9a1","responsibleId":"664d9e0b7c83aa0010f1c2d3","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Creates the contact in the project of the API key. Upsert: answers 200 with the existing contact when one already matches, instead of 201 with a duplicate.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"avatar":{"type":"string"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}}},"additionalProperties":false}}}}}},"/v1/contacts/{id}":{"get":{"tags":["Contacts"],"summary":"Get a contact by id","operationId":"getContactsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":1},"avatar":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}},"projectId":{"type":"string","minLength":1},"responsibleId":{"type":"string","minLength":1},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","projectId","createdAt","updatedAt"],"additionalProperties":false},"example":{"id":"6712a4d95b38ee0011c9f2b4","fields":[{"fieldId":"66eab3c47d21ff0011b2d6e8","value":"Maria Andrade"},{"fieldId":"66eab3c47d21ff0011b2d6e9","value":"+5551999999999"}],"projectId":"665f1c2e8a94b70012d4e9a1","responsibleId":"664d9e0b7c83aa0010f1c2d3","createdAt":"2026-01-12T14:08:00.000Z","updatedAt":"2026-01-15T09:32:00.000Z"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers 404 when the id does not exist or belongs to another project."},"patch":{"tags":["Contacts"],"summary":"Update a contact","operationId":"patchContactsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Partial update: only the keys present in the body change. Answers 204 with no body.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"avatar":{"type":"string"},"responsibleId":{"type":"string","minLength":1},"fields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","minLength":1},"value":{}},"required":["fieldId"],"additionalProperties":false}}},"additionalProperties":false}}}}},"delete":{"tags":["Contacts"],"summary":"Delete a contact","operationId":"deleteContactsById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No content"},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"The contact is deleted. Answers 204 with no body."}},"/v1/chats/{chatId}/messages":{"get":{"tags":["Messages"],"summary":"List the messages of a chat","operationId":"getChatsByChatIdMessages","security":[{"apiKey":[]}],"parameters":[{"name":"chatId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"[limit]","in":"query","required":false,"description":"How many records to return, at most 100.","schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"[offset]","in":"query","required":false,"description":"How many records to skip.","schema":{"type":"integer","minimum":0}},{"name":"[project]","in":"query","required":false,"description":"Comma-separated list of fields to return, e.g. `id,createdAt`.","schema":{"type":"string","minLength":1}},{"name":"[with]","in":"query","required":false,"description":"Comma-separated list of relations to populate.","schema":{"type":"string","minLength":1}},{"name":"[logic]","in":"query","required":false,"description":"How to combine the filters. Defaults to AND.","schema":{"type":"string","enum":["AND","OR"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"projectId":{"type":"string","minLength":1},"chatId":{"type":"string","minLength":1},"type":{"type":"string","minLength":1},"sender":{"type":"object","properties":{"type":{"type":"string","minLength":1},"id":{"type":"string","minLength":1},"name":{"type":"string","minLength":1}},"required":["type"],"additionalProperties":false},"timestamp":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["PENDING","SENT","RECEIVED","READ","PLAYED","FAILED"]},"deletedAt":{"type":"string","format":"date-time"},"editedId":{"type":"string","minLength":1},"repliedId":{"type":"string","minLength":1},"forwardedId":{"type":"string","minLength":1},"content":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["TEXT"]},"content":{"type":"object","properties":{"text":{"type":"string","minLength":1}},"required":["text"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["IMAGE"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["VIDEO"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"isAnimated":{"type":"boolean","default":false}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["AUDIO"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1}},"required":["url","fileId"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["DOCUMENT"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"filename":{"type":"string"}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["STICKER"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"isAnimated":{"type":"boolean","default":false}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["CONTACT"]},"content":{"type":"object","properties":{"name":{"type":"string","minLength":1},"phones":{"type":"array","items":{"type":"string"}},"emails":{"type":"array","items":{"type":"string","minLength":1,"format":"email"}},"urls":{"type":"array","items":{"type":"string","minLength":1,"format":"uri"}}},"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["LOCATION"]},"content":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"name":{"type":"string"},"address":{"type":"string"}},"required":["latitude","longitude"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["REACTION"]},"content":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["TEMPLATE"]},"content":{"type":"object","properties":{"templateId":{"type":"string","minLength":1},"variables":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}}},"required":["templateId"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["URL"]},"content":{"type":"object","properties":{"text":{"type":"string","minLength":1},"showPreview":{"type":"boolean"}},"required":["text"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false}]}},"required":["id","createdAt","updatedAt","projectId","type","sender","timestamp","status"],"additionalProperties":false}},"hasMore":{"type":"boolean"},"limit":{"type":"number"},"offset":{"type":"number"},"total":{"type":"number"}},"required":["data","hasMore","limit","offset","total"],"additionalProperties":false},"example":{"data":[{"id":"6716d2a57e63cc0015b9f4d1","projectId":"665f1c2e8a94b70012d4e9a1","chatId":"6713cc481f52bb0014a7d3e9","type":"TEXT","sender":{"type":"CONTACT","id":"6712a4d95b38ee0011c9f2b4","name":"Maria Andrade"},"timestamp":"2026-01-15T09:31:40.000Z","status":"RECEIVED","content":{"type":"TEXT","content":{"text":"Oi! Vocês atendem no sábado?"}},"createdAt":"2026-01-15T09:31:41.000Z","updatedAt":"2026-01-15T09:31:41.000Z"}],"hasMore":false,"limit":10,"offset":0,"total":1}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers with the paginated envelope: the messages of the chat in `data`, plus `hasMore`, `limit`, `offset` and `total`."},"post":{"tags":["Messages"],"summary":"Send a message to a chat","operationId":"postChatsByChatIdMessages","security":[{"apiKey":[]}],"parameters":[{"name":"chatId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":1}},"required":["id"],"additionalProperties":false},"example":{"id":"6716d2a57e63cc0015b9f4d1"}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"The payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"description":"Answers with the id of the created message. Delivery happens asynchronously.","requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"editedId":{"type":"string","minLength":1},"repliedId":{"type":"string","minLength":1},"forwardedId":{"type":"string","minLength":1}}},{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["TEXT"]},"content":{"type":"object","properties":{"text":{"type":"string","minLength":1}},"required":["text"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["IMAGE"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["VIDEO"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"isAnimated":{"type":"boolean","default":false}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["AUDIO"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1}},"required":["url","fileId"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["DOCUMENT"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"filename":{"type":"string"}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["STICKER"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"isAnimated":{"type":"boolean","default":false}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["CONTACT"]},"content":{"type":"object","properties":{"name":{"type":"string","minLength":1},"phones":{"type":"array","items":{"type":"string"}},"emails":{"type":"array","items":{"type":"string","minLength":1,"format":"email"}},"urls":{"type":"array","items":{"type":"string","minLength":1,"format":"uri"}}},"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["LOCATION"]},"content":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"name":{"type":"string"},"address":{"type":"string"}},"required":["latitude","longitude"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["REACTION"]},"content":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["TEMPLATE"]},"content":{"type":"object","properties":{"templateId":{"type":"string","minLength":1},"variables":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}}},"required":["templateId"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["URL"]},"content":{"type":"object","properties":{"text":{"type":"string","minLength":1},"showPreview":{"type":"boolean"}},"required":["text"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false}]}]}}}}}},"/v1/messages/{id}":{"get":{"tags":["Messages"],"summary":"Get a message by id","operationId":"getMessagesById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"archivedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"projectId":{"type":"string","minLength":1},"chatId":{"type":"string","minLength":1},"type":{"type":"string","minLength":1},"sender":{"type":"object","properties":{"type":{"type":"string","minLength":1},"id":{"type":"string","minLength":1},"name":{"type":"string","minLength":1}},"required":["type"],"additionalProperties":false},"timestamp":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["PENDING","SENT","RECEIVED","READ","PLAYED","FAILED"]},"deletedAt":{"type":"string","format":"date-time"},"editedId":{"type":"string","minLength":1},"repliedId":{"type":"string","minLength":1},"forwardedId":{"type":"string","minLength":1},"content":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["TEXT"]},"content":{"type":"object","properties":{"text":{"type":"string","minLength":1}},"required":["text"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["IMAGE"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["VIDEO"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"isAnimated":{"type":"boolean","default":false}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["AUDIO"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1}},"required":["url","fileId"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["DOCUMENT"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"filename":{"type":"string"}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["STICKER"]},"content":{"type":"object","properties":{"caption":{"type":"string"},"media":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"mimeType":{"type":"string","minLength":1},"fileId":{"type":"string","minLength":1},"isAnimated":{"type":"boolean","default":false}},"required":["url"],"additionalProperties":false}},"required":["media"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["CONTACT"]},"content":{"type":"object","properties":{"name":{"type":"string","minLength":1},"phones":{"type":"array","items":{"type":"string"}},"emails":{"type":"array","items":{"type":"string","minLength":1,"format":"email"}},"urls":{"type":"array","items":{"type":"string","minLength":1,"format":"uri"}}},"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["LOCATION"]},"content":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"name":{"type":"string"},"address":{"type":"string"}},"required":["latitude","longitude"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["REACTION"]},"content":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["TEMPLATE"]},"content":{"type":"object","properties":{"templateId":{"type":"string","minLength":1},"variables":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}}},"required":["templateId"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["URL"]},"content":{"type":"object","properties":{"text":{"type":"string","minLength":1},"showPreview":{"type":"boolean"}},"required":["text"],"additionalProperties":false}},"required":["type","content"],"additiona
[...]
