{
  "openapi": "3.0.3",
  "info": {
    "title": "Leadstaker API",
    "version": "1.0.0",
    "description": "Public REST API for Leadstaker projects."
  },
  "servers": [
    {
      "url": "https://n-api.leadstaker.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Calls",
      "description": "Phone calls made through the telephony app, with their recording, transcript and AI summary."
    },
    {
      "name": "Chats",
      "description": "Conversations with a contact over a connected channel."
    },
    {
      "name": "Contacts",
      "description": "People inside a project, holding the custom field values collected about them."
    },
    {
      "name": "Deals",
      "description": "Opportunities moving through a pipeline, each tied to a contact."
    },
    {
      "name": "Field groups",
      "description": "Sections that organize custom fields in the interface."
    },
    {
      "name": "Fields",
      "description": "Custom field definitions, both the built-in ones and the ones a project creates."
    },
    {
      "name": "Leads",
      "description": "Chatbot conversations captured in a project, with the answers given and where the visitor came from."
    },
    {
      "name": "Loss reasons",
      "description": "The catalog of reasons a deal can be marked as lost."
    },
    {
      "name": "Messages",
      "description": "Individual messages inside a chat, inbound and outbound."
    },
    {
      "name": "Notes",
      "description": "Free text attached to a contact or a deal, written by a user, an agent, or the system."
    },
    {
      "name": "Pipelines",
      "description": "Ordered sets of stages a deal travels through."
    },
    {
      "name": "Stages",
      "description": "Steps inside a pipeline, including the built-in open and closed ones."
    },
    {
      "name": "Tags",
      "description": "Free-form labels attached to deals."
    },
    {
      "name": "Tasks",
      "description": "Follow-up activities with a due date, attached to a deal and assigned to a user."
    }
  ],
  "paths": {
    "/v1/deals/{dealId}/calls": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "List the calls of a deal",
        "operationId": "getDealsByDealIdCalls",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "[limit]",
            "in": "query",
            "required": false,
            "description": "How many calls to return, at most 50. Defaults to 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "[offset]",
            "in": "query",
            "required": false,
            "description": "How many calls to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "projectId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "entityId": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The deal the call is attached to, or the contact when it has no deal."
                      },
                      "entityType": {
                        "type": "string",
                        "enum": [
                          "DEAL",
                          "CONTACT"
                        ]
                      },
                      "provider": {
                        "type": "string",
                        "enum": [
                          "API4COM"
                        ]
                      },
                      "externalId": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The call id on the telephony provider."
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "OUTBOUND",
                          "INBOUND"
                        ]
                      },
                      "from": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "EXTENSION"
                                ]
                              },
                              "number": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The extension on the telephony provider, e.g. `1000`."
                              },
                              "userId": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The user holding the extension; absent while the extension is not mapped to anyone."
                              }
                            },
                            "required": [
                              "type",
                              "number"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "PHONE"
                                ]
                              },
                              "number": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Digits with the country code, e.g. `5548999998888`."
                              }
                            },
                            "required": [
                              "type",
                              "number"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      },
                      "to": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "EXTENSION"
                                ]
                              },
                              "number": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The extension on the telephony provider, e.g. `1000`."
                              },
                              "userId": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The user holding the extension; absent while the extension is not mapped to anyone."
                              }
                            },
                            "required": [
                              "type",
                              "number"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "PHONE"
                                ]
                              },
                              "number": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Digits with the country code, e.g. `5548999998888`."
                              }
                            },
                            "required": [
                              "type",
                              "number"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      },
                      "startedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "answeredAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "endedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "durationInSeconds": {
                        "type": "integer",
                        "description": "Talk time, from the answer to the hang up."
                      },
                      "outcome": {
                        "type": "string",
                        "enum": [
                          "ANSWERED",
                          "NO_ANSWER",
                          "BUSY",
                          "VOICEMAIL",
                          "FAILED"
                        ]
                      },
                      "recording": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "PENDING",
                              "STORED",
                              "UNAVAILABLE",
                              "FAILED"
                            ],
                            "description": "`PENDING` while the recording is copied from the provider; only a `STORED` one can be played or transcribed."
                          },
                          "mimeType": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "additionalProperties": false
                      },
                      "transcription": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "AVAILABLE",
                              "TOO_LONG",
                              "PENDING",
                              "DONE",
                              "FAILED"
                            ],
                            "description": "`AVAILABLE`: can be requested. `TOO_LONG`: the recording is over the transcription limit. `PENDING`, `DONE` or `FAILED` once requested."
                          },
                          "text": {
                            "type": "string",
                            "description": "The whole transcript in one block, when the call was not split by speaker. Absent when `turns` is present."
                          },
                          "turns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "speaker": {
                                  "type": "string",
                                  "enum": [
                                    "SELLER",
                                    "CUSTOMER"
                                  ],
                                  "description": "`SELLER` is the extension side, `CUSTOMER` the phone side."
                                },
                                "start": {
                                  "type": "number",
                                  "description": "Seconds from the start of the recording."
                                },
                                "text": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "speaker",
                                "start",
                                "text"
                              ],
                              "additionalProperties": false
                            },
                            "description": "Who said what, in order. Present when each side of the call was transcribed from its own channel of the recording."
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "additionalProperties": false,
                        "nullable": true,
                        "description": "Null while there is no stored recording."
                      },
                      "analysis": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "PENDING",
                              "DONE",
                              "FAILED"
                            ]
                          },
                          "summary": {
                            "type": "string",
                            "description": "Absent when the call had nothing worth summing up, such as a voicemail."
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "additionalProperties": false,
                        "nullable": true,
                        "description": "The AI summary, written after each transcription; null before the first one."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "id",
                      "projectId",
                      "entityId",
                      "entityType",
                      "provider",
                      "externalId",
                      "direction",
                      "from",
                      "to",
                      "startedAt",
                      "endedAt",
                      "durationInSeconds",
                      "outcome",
                      "recording",
                      "transcription",
                      "analysis",
                      "createdAt",
                      "updatedAt"
                    ],
                    "additionalProperties": false
                  }
                },
                "example": [
                  {
                    "id": "6abd10c5812811e995a28f1f",
                    "projectId": "665f1c2e8a94b70012d4e9a1",
                    "entityId": "6715be3a9c40aa0013d8e5c2",
                    "entityType": "DEAL",
                    "provider": "API4COM",
                    "externalId": "1759236412.4821",
                    "direction": "OUTBOUND",
                    "from": {
                      "type": "EXTENSION",
                      "number": "1000",
                      "userId": "664d9e0b7c83aa0010f1c2d3"
                    },
                    "to": {
                      "type": "PHONE",
                      "number": "5548999998888"
                    },
                    "startedAt": "2026-09-30T13:40:02.000Z",
                    "answeredAt": "2026-09-30T13:40:11.000Z",
                    "endedAt": "2026-09-30T13:42:34.000Z",
                    "durationInSeconds": 143,
                    "outcome": "ANSWERED",
                    "recording": {
                      "status": "STORED",
                      "mimeType": "audio/mpeg"
                    },
                    "transcription": {
                      "status": "DONE",
                      "text": "Oi João, tudo bem? Vi que a proposta de 10 mil ficou com você.\nTudo, gostei dos 10 mil. Me retorna amanhã?",
                      "turns": [
                        {
                          "speaker": "SELLER",
                          "start": 1.4,
                          "text": "Oi João, tudo bem? Vi que a proposta de 10 mil ficou com você."
                        },
                        {
                          "speaker": "CUSTOMER",
                          "start": 9.2,
                          "text": "Tudo, gostei dos 10 mil. Me retorna amanhã?"
                        }
                      ]
                    },
                    "analysis": {
                      "status": "DONE",
                      "summary": "João aceitou a proposta de R$ 10 mil e pediu retorno amanhã para fechar."
                    },
                    "createdAt": "2026-09-30T13:42:40.000Z",
                    "updatedAt": "2026-09-30T13:43:15.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Answers with a bare array of calls, newest first, without an envelope or pagination fields. A call is stored once it ends, with its recording copied a few seconds later. Answered calls up to one hour are transcribed on their own; each transcription is followed by an AI summary in `analysis`. That analysis also writes what the call said into the fields of the deal and the contact, filled ones included, so a call can raise the same update events and webhooks as any other edit. Only the calls attached to this deal come back."
      }
    },
    "/v1/contacts/{contactId}/calls": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "List the calls of a contact",
        "operationId": "getContactsByContactIdCalls",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "[limit]",
            "in": "query",
            "required": false,
            "description": "How many calls to return, at most 50. Defaults to 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "[offset]",
            "in": "query",
            "required": false,
            "description": "How many calls to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "projectId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "entityId": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The deal the call is attached to, or the contact when it has no deal."
                      },
                      "entityType": {
                        "type": "string",
                        "enum": [
                          "DEAL",
                          "CONTACT"
                        ]
                      },
                      "provider": {
                        "type": "string",
                        "enum": [
                          "API4COM"
                        ]
                      },
                      "externalId": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The call id on the telephony provider."
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "OUTBOUND",
                          "INBOUND"
                        ]
                      },
                      "from": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "EXTENSION"
                                ]
                              },
                              "number": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The extension on the telephony provider, e.g. `1000`."
                              },
                              "userId": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The user holding the extension; absent while the extension is not mapped to anyone."
                              }
                            },
                            "required": [
                              "type",
                              "number"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "PHONE"
                                ]
                              },
                              "number": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Digits with the country code, e.g. `5548999998888`."
                              }
                            },
                            "required": [
                              "type",
                              "number"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      },
                      "to": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "EXTENSION"
                                ]
                              },
                              "number": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The extension on the telephony provider, e.g. `1000`."
                              },
                              "userId": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The user holding the extension; absent while the extension is not mapped to anyone."
                              }
                            },
                            "required": [
                              "type",
                              "number"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "PHONE"
                                ]
                              },
                              "number": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Digits with the country code, e.g. `5548999998888`."
                              }
                            },
                            "required": [
                              "type",
                              "number"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      },
                      "startedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "answeredAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "endedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "durationInSeconds": {
                        "type": "integer",
                        "description": "Talk time, from the answer to the hang up."
                      },
                      "outcome": {
                        "type": "string",
                        "enum": [
                          "ANSWERED",
                          "NO_ANSWER",
                          "BUSY",
                          "VOICEMAIL",
                          "FAILED"
                        ]
                      },
                      "recording": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "PENDING",
                              "STORED",
                              "UNAVAILABLE",
                              "FAILED"
                            ],
                            "description": "`PENDING` while the recording is copied from the provider; only a `STORED` one can be played or transcribed."
                          },
                          "mimeType": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "additionalProperties": false
                      },
                      "transcription": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "AVAILABLE",
                              "TOO_LONG",
                              "PENDING",
                              "DONE",
                              "FAILED"
                            ],
                            "description": "`AVAILABLE`: can be requested. `TOO_LONG`: the recording is over the transcription limit. `PENDING`, `DONE` or `FAILED` once requested."
                          },
                          "text": {
                            "type": "string",
                            "description": "The whole transcript in one block, when the call was not split by speaker. Absent when `turns` is present."
                          },
                          "turns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "speaker": {
                                  "type": "string",
                                  "enum": [
                                    "SELLER",
                                    "CUSTOMER"
                                  ],
                                  "description": "`SELLER` is the extension side, `CUSTOMER` the phone side."
                                },
                                "start": {
                                  "type": "number",
                                  "description": "Seconds from the start of the recording."
                                },
                                "text": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "speaker",
                                "start",
                                "text"
                              ],
                              "additionalProperties": false
                            },
                            "description": "Who said what, in order. Present when each side of the call was transcribed from its own channel of the recording."
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "additionalProperties": false,
                        "nullable": true,
                        "description": "Null while there is no stored recording."
                      },
                      "analysis": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "PENDING",
                              "DONE",
                              "FAILED"
                            ]
                          },
                          "summary": {
                            "type": "string",
                            "description": "Absent when the call had nothing worth summing up, such as a voicemail."
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "additionalProperties": false,
                        "nullable": true,
                        "description": "The AI summary, written after each transcription; null before the first one."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "id",
                      "projectId",
                      "entityId",
                      "entityType",
                      "provider",
                      "externalId",
                      "direction",
                      "from",
                      "to",
                      "startedAt",
                      "endedAt",
                      "durationInSeconds",
                      "outcome",
                      "recording",
                      "transcription",
                      "analysis",
                      "createdAt",
                      "updatedAt"
                    ],
                    "additionalProperties": false
                  }
                },
                "example": [
                  {
                    "id": "6abd10c5812811e995a28f1f",
                    "projectId": "665f1c2e8a94b70012d4e9a1",
                    "entityId": "6715be3a9c40aa0013d8e5c2",
                    "entityType": "DEAL",
                    "provider": "API4COM",
                    "externalId": "1759236412.4821",
                    "direction": "OUTBOUND",
                    "from": {
                      "type": "EXTENSION",
                      "number": "1000",
                      "userId": "664d9e0b7c83aa0010f1c2d3"
                    },
                    "to": {
                      "type": "PHONE",
                      "number": "5548999998888"
                    },
                    "startedAt": "2026-09-30T13:40:02.000Z",
                    "answeredAt": "2026-09-30T13:40:11.000Z",
                    "endedAt": "2026-09-30T13:42:34.000Z",
                    "durationInSeconds": 143,
                    "outcome": "ANSWERED",
                    "recording": {
                      "status": "STORED",
                      "mimeType": "audio/mpeg"
                    },
                    "transcription": {
                      "status": "DONE",
                      "text": "Oi João, tudo bem? Vi que a proposta de 10 mil ficou com você.\nTudo, gostei dos 10 mil. Me retorna amanhã?",
                      "turns": [
                        {
                          "speaker": "SELLER",
                          "start": 1.4,
                          "text": "Oi João, tudo bem? Vi que a proposta de 10 mil ficou com você."
                        },
                        {
                          "speaker": "CUSTOMER",
                          "start": 9.2,
                          "text": "Tudo, gostei dos 10 mil. Me retorna amanhã?"
                        }
                      ]
                    },
                    "analysis": {
                      "status": "DONE",
                      "summary": "João aceitou a proposta de R$ 10 mil e pediu retorno amanhã para fechar."
                    },
                    "createdAt": "2026-09-30T13:42:40.000Z",
                    "updatedAt": "2026-09-30T13:43:15.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Answers with a bare array of calls, newest first, without an envelope or pagination fields. A call is stored once it ends, with its recording copied a few seconds later. Answered calls up to one hour are transcribed on their own; each transcription is followed by an AI summary in `analysis`. That analysis also writes what the call said into the fields of the deal and the contact, filled ones included, so a call can raise the same update events and webhooks as any other edit. Includes the calls attached to the contact and to the deals of the contact the caller can see."
      }
    },
    "/v1/chats": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "List chats",
        "operationId": "getChats",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "[limit]",
            "in": "query",
            "required": false,
            "description": "How many records to return, at most 250.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250
            }
          },
          {
            "name": "[offset]",
            "in": "query",
            "required": false,
            "description": "How many records to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "[project]",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return, e.g. `id,createdAt`.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "[with]",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of relations to populate.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "archivedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "projectId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "channelId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "externalId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "contactId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "identifiers": {
                            "type": "object",
                            "properties": {
                              "phone": {
                                "type": "string",
                                "minLength": 1
                              },
                              "email": {
                                "type": "string",
                                "minLength": 1
                              },
                              "whatsapp_lid": {
                                "type": "string",
                                "minLength": 1
                              },
                              "test_id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "custom": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "additionalProperties": false
                          },
                          "profile": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "avatar": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "INBOX",
                              "OPEN",
                              "CLOSED"
                            ]
                          },
                          "agent": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "ACTIVE",
                                  "DISABLED"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "status"
                            ],
                            "additionalProperties": false
                          },
                          "unreadMessagesCount": {
                            "type": "number"
                          },
                          "isTest": {
                            "type": "boolean"
                          },
                          "pipelineId": {
                            "type": "string",
                            "minLength": 1,
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "minLength": 1
                          },
                          "updatedAt": {
                            "type": "string",
                            "minLength": 1
                          },
                          "channelName": {
                            "type": "string",
                            "minLength": 1,
                            "nullable": true,
                            "description": "The name the channel gave the lead (such as their WhatsApp profile name), or null. `profile.name` shows the contact's name when the chat has a contact."
                          }
                        },
                        "required": [
                          "id",
                          "projectId",
                          "channelId",
                          "externalId",
                          "identifiers",
                          "status",
                          "unreadMessagesCount",
                          "pipelineId"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "offset": {
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "hasMore",
                    "limit",
                    "offset",
                    "total"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "id": "6713cc481f52bb0014a7d3e9",
                      "projectId": "665f1c2e8a94b70012d4e9a1",
                      "channelId": "66f0b2c39d85cc0013d4e5f6",
                      "externalId": "5551999999999@s.whatsapp.net",
                      "contactId": "6712a4d95b38ee0011c9f2b4",
                      "pipelineId": null,
                      "identifiers": {
                        "phone": "+5551999999999"
                      },
                      "profile": {
                        "name": "Maria Andrade"
                      },
                      "channelName": "Maria",
                      "status": "OPEN",
                      "agent": {
                        "id": "66f5a1d28e94bb0012c3d4e5",
                        "status": "ACTIVE"
                      },
                      "unreadMessagesCount": 2,
                      "createdAt": "2026-01-12T14:08:00.000Z",
                      "updatedAt": "2026-01-15T09:32:00.000Z"
                    }
                  ],
                  "hasMore": false,
                  "limit": 10,
                  "offset": 0,
                  "total": 1
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Answers with the paginated envelope: the matching chats in `data`, plus `hasMore`, `limit`, `offset` and `total`."
      }
    },
    "/v1/chats/{id}": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "Get a chat by id",
        "operationId": "getChatsById",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "archivedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "projectId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "channelId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "externalId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "contactId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "identifiers": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "minLength": 1
                        },
                        "email": {
                          "type": "string",
                          "minLength": 1
                        },
                        "whatsapp_lid": {
                          "type": "string",
                          "minLength": 1
                        },
                        "test_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "custom": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "additionalProperties": false
                    },
                    "profile": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "avatar": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "additionalProperties": false
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "INBOX",
                        "OPEN",
                        "CLOSED"
                      ]
                    },
                    "agent": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "DISABLED"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ],
                      "additionalProperties": false
                    },
                    "unreadMessagesCount": {
                      "type": "number"
                    },
                    "isTest": {
                      "type": "boolean"
                    },
                    "pipelineId": {
                      "type": "string",
                      "minLength": 1,
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "minLength": 1
                    },
                    "updatedAt": {
                      "type": "string",
                      "minLength": 1
                    },
                    "channelName": {
                      "type": "string",
                      "minLength": 1,
                      "nullable": true,
                      "description": "The name the channel gave the lead (such as their WhatsApp profile name), or null. `profile.name` shows the contact's name when the chat has a contact."
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "channelId",
                    "externalId",
                    "identifiers",
                    "status",
                    "unreadMessagesCount",
                    "pipelineId"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "id": "6713cc481f52bb0014a7d3e9",
                  "projectId": "665f1c2e8a94b70012d4e9a1",
                  "channelId": "66f0b2c39d85cc0013d4e5f6",
                  "externalId": "5551999999999@s.whatsapp.net",
                  "contactId": "6712a4d95b38ee0011c9f2b4",
                  "pipelineId": null,
                  "identifiers": {
                    "phone": "+5551999999999"
                  },
                  "profile": {
                    "name": "Maria Andrade"
                  },
                  "channelName": "Maria",
                  "status": "OPEN",
                  "agent": {
                    "id": "66f5a1d28e94bb0012c3d4e5",
                    "status": "ACTIVE"
                  },
                  "unreadMessagesCount": 2,
                  "createdAt": "2026-01-12T14:08:00.000Z",
                  "updatedAt": "2026-01-15T09:32:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Answers 404 when the id does not exist or belongs to another project."
      },
      "delete": {
        "tags": [
          "Chats"
        ],
        "summary": "Delete a chat",
        "operationId": "deleteChatsById",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The chat is deleted. Answers 204 with no body."
      }
    },
    "/v1/chats/{id}/close": {
      "patch": {
        "tags": [
          "Chats"
        ],
        "summary": "Close a chat",
        "operationId": "patchChatsByIdClose",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Sets the chat status to CLOSED. Answers 204 with no body."
      }
    },
    "/v1/chats/{id}/agent": {
      "patch": {
        "tags": [
          "Chats"
        ],
        "summary": "Turn the AI agent on or off for a chat, or switch it",
        "operationId": "patchChatsByIdAgent",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The payload failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Sets the AI agent of the chat to ACTIVE or DISABLED. With `agentId`, switches the chat to that agent of the project (404 when there is none, or it is archived; 422 TEST_CHAT on a test chat): it takes the `status` given, else the one the chat had, else ACTIVE, and what the previous agent had queued for the chat (follow-ups, a reply being sent) is dropped. The agent the chat already has only changes the status. Answers 204 with no body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "DISABLED"
                    ],
                    "description": "ACTIVE or DISABLED. Required without `agentId`; with it, the chat keeps its status when absent (ACTIVE for a chat that had no agent)."
                  },
                  "agentId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Switches the chat to this agent of the project. The chat's current agent only changes the status."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "operationId": "getContacts",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "[limit]",
            "in": "query",
            "required": false,
            "description": "How many records to return, at most 250.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250
            }
          },
          {
            "name": "[offset]",
            "in": "query",
            "required": false,
            "description": "How many records to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "[project]",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return, e.g. `id,createdAt`.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "[with]",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of relations to populate.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Free-text search across the contact fields.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "fieldFilters",
            "in": "query",
            "required": false,
            "description": "Conditions on field values, as a JSON array of `{ fieldId, fieldType?, operator, value? }`, all of which must hold. Operators: equals, not_equals, contains, not_contains, gt, gte, lt, lte, between (`from|to`), is_true, is_false, is_empty, is_not_empty. A CONTACT:PHONE equals matches the number with or without the Brazilian ninth digit. Ignored by `search`.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "avatar": {
                            "type": "string",
                            "minLength": 1
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fieldId": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "value": {}
                              },
                              "required": [
                                "fieldId"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "projectId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "responsibleId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "projectId",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "offset": {
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "hasMore",
                    "limit",
                    "offset",
                    "total"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "id": "6712a4d95b38ee0011c9f2b4",
                      "fields": [
                        {
                          "fieldId": "66eab3c47d21ff0011b2d6e8",
                          "value": "Maria Andrade"
                        },
                        {
                          "fieldId": "66eab3c47d21ff0011b2d6e9",
                          "value": "+5551999999999"
                        }
                      ],
                      "projectId": "665f1c2e8a94b70012d4e9a1",
                      "responsibleId": "664d9e0b7c83aa0010f1c2d3",
                      "createdAt": "2026-01-12T14:08:00.000Z",
                      "updatedAt": "2026-01-15T09:32:00.000Z"
                    }
                  ],
                  "hasMore": false,
                  "limit": 10,
                  "offset": 0,
                  "total": 1
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Answers with the paginated envelope: the matching contacts in `data`, plus `hasMore`, `limit`, `offset` and `total`."
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "operationId": "postContacts",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "avatar": {
                      "type": "string",
                      "minLength": 1
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fieldId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "value": {}
                        },
                        "required": [
                          "fieldId"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "projectId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "responsibleId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "id": "6712a4d95b38ee0011c9f2b4",
                  "fields": [
                    {
                      "fieldId": "66eab3c47d21ff0011b2d6e8",
                      "value": "Maria Andrade"
                    },
                    {
                      "fieldId": "66eab3c47d21ff0011b2d6e9",
                      "value": "+5551999999999"
                    }
                  ],
                  "projectId": "665f1c2e8a94b70012d4e9a1",
                  "responsibleId": "664d9e0b7c83aa0010f1c2d3",
                  "createdAt": "2026-01-12T14:08:00.000Z",
                  "updatedAt": "2026-01-15T09:32:00.000Z"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "avatar": {
                      "type": "string",
                      "minLength": 1
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fieldId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "value": {}
                        },
                        "required": [
                          "fieldId"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "projectId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "responsibleId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "id": "6712a4d95b38ee0011c9f2b4",
                  "fields": [
                    {
                      "fieldId": "66eab3c47d21ff0011b2d6e8",
                      "value": "Maria Andrade"
                    },
                    {
                      "fieldId": "66eab3c47d21ff0011b2d6e9",
                      "value": "+5551999999999"
                    }
                  ],
                  "projectId": "665f1c2e8a94b70012d4e9a1",
                  "responsibleId": "664d9e0b7c83aa0010f1c2d3",
                  "createdAt": "2026-01-12T14:08:00.000Z",
                  "updatedAt": "2026-01-15T09:32:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The payload failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Creates the contact in the project of the API key. Upsert: answers 200 with the existing contact when one already matches, instead of 201 with a duplicate.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string"
                  },
                  "responsibleId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fieldId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "value": {
                          "description": "The value in the shape of the field's type. TEXT, PHONE, EMAIL, CPF, CNPJ, CPF_CNPJ, CEP, LINK and OPTIONS: a string (OPTIONS: one of its options). NUMBER: a number. CURRENCY: an amount in reais, as a number or a decimal string (`1500.5`, `\"1.500,50\"`), rounded to the cent. It is stored and read back in cents (`150050`). BOOLEAN: `true` or `false`. MULTISELECT: an array of its options. DATE and DATETIME: `YYYY-MM-DD`, an ISO 8601 datetime (UTC when it has no offset) or epoch milliseconds, stored as a date. TIME: `HH:mm`. `null` clears the field. A value that does not fit its field, or a `fieldId` this kind of record does not have, answers 422 naming the field."
                        }
                      },
                      "required": [
                        "fieldId"
                      ],
                      "additionalProperties": false,
                      "description": "Custom field value for this entity"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact by id",
        "operationId": "getContactsById",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "avatar": {
                      "type": "string",
                      "minLength": 1
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fieldId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "value": {}
                        },
                        "required": [
                          "fieldId"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "projectId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "responsibleId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "id": "6712a4d95b38ee0011c9f2b4",
                  "fields": [
                    {
                      "fieldId": "66eab3c47d21ff0011b2d6e8",
                      "value": "Maria Andrade"
                    },
                    {
                      "fieldId": "66eab3c47d21ff0011b2d6e9",
                      "value": "+5551999999999"
                    }
                  ],
                  "projectId": "665f1c2e8a94b70012d4e9a1",
                  "responsibleId": "664d9e0b7c83aa0010f1c2d3",
                  "createdAt": "2026-01-12T14:08:00.000Z",
                  "updatedAt": "2026-01-15T09:32:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Answers 404 when the id does not exist or belongs to another project."
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "operationId": "patchContactsById",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The payload failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Partial update: only the keys present in the body change. Answers 204 with no body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string"
                  },
                  "responsibleId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fieldId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "value": {
                          "description": "The value in the shape of the field's type. TEXT, PHONE, EMAIL, CPF, CNPJ, CPF_CNPJ, CEP, LINK and OPTIONS: a string (OPTIONS: one of its options). NUMBER: a number. CURRENCY: an amount in reais, as a number or a decimal string (`1500.5`, `\"1.500,50\"`), rounded to the cent. It is stored and read back in cents (`150050`). BOOLEAN: `true` or `false`. MULTISELECT: an array of its options. DATE and DATETIME: `YYYY-MM-DD`, an ISO 8601 datetime (UTC when it has no offset) or epoch milliseconds, stored as a date. TIME: `HH:mm`. `null` clears the field. A value that does not fit its field, or a `fieldId` this kind of record does not have, answers 422 naming the field."
                        }
                      },
                      "required": [
                        "fieldId"
                      ],
                      "additionalProperties": false,
                      "description": "Custom field value for this entity"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "operationId": "deleteContactsById",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The contact is deleted. Answers 204 with no body."
      }
    },
    "/v1/deals": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "List deals",
        "operationId": "getDeals",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "[limit]",
            "in": "query",
            "required": false,
            "description": "How many records to return, at most 250.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250
            }
          },
          {
            "name": "[offset]",
            "in": "query",
            "required": false,
            "description": "How many records to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "[project]",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return, e.g. `id,createdAt`.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "[with]",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of relations to populate.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "projectId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "contactId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fieldId": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "value": {}
                              },
                              "required": [
                                "fieldId"
                              ],
                              "additionalProperties": false,
                              "description": "Custom field value for this entity"
                            }
                          },
                          "agentId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "tagIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "isTest": {
                            "type": "boolean"
                          },
                          "responsibleId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "pipelineId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "stageId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "lossReasonId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "stageEnteredAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "closedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastLeadMessageAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "archivedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "avatar": {
                                "type": "string",
                                "minLength": 1
                              },
                              "projectId": {
                                "type": "string",
                                "minLength": 1
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "fieldId": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "value": {}
                                  },
                                  "required": [
                                    "fieldId"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "isTest": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "id",
                              "createdAt",
                              "updatedAt",
                              "projectId"
                            ],
                            "additionalProperties": false
                          },
                          "chat": {
                            "type": "object",
                            "properties": {
                              "unreadMessagesCount": {
                                "type": "number"
                              },
                              "lastMessage": {
                                "type": "object",
                                "additionalProperties": {}
                              },
                              "lastLeadMessageTimestamp": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "unreadByChatId": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "number"
                                }
                              }
                            },
                            "required": [
                              "unreadMessagesCount",
                              "unreadByChatId"
                            ],
                            "additionalProperties": false
                          },
                          "nextTask": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "dueAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "dueAt"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt",
                          "projectId",
                          "responsibleId"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "offset": {
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "hasMore",
                    "limit",
                    "offset",
                    "total"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "id": "6715be3a9c40aa0013d8e5c2",
                      "projectId": "665f1c2e8a94b70012d4e9a1",
                      "contactId": "6712a4d95b38ee0011c9f2b4",
                      "fields": [
                        {
                          "fieldId": "66eab3c47d21ff0011b2d6ea",
                          "value": 1200
                        }
                      ],
                      "tagIds": [
                        "67102f6c3e85dd0012f5b8c3"
                      ],
                      "responsibleId": "664d9e0b7c83aa0010f1c2d3",
                      "pipelineId": "670fa8b21d94cc0010e3c7a5",
                      "stageId": "670fa8b21d94cc0010e3c7a8",
                      "stageEnteredAt": "2026-01-14T11:20:00.000Z",
                      "createdAt": "2026-01-12T14:08:00.000Z",
                      "updatedAt": "2026-01-15T09:32:00.000Z"
                    }
                  ],
                  "hasMore": false,
                  "limit": 10,
                  "offset": 0,
                  "total": 1
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Answers with the paginated envelope: the matching deals in `data`, plus `hasMore`, `limit`, `offset` and `total`."
      },
      "post": {
        "tags": [
          "Deals"
        ],
        "summary": "Create a deal",
        "operationId": "postDeals",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "projectId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "contactId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fieldId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "value": {}
                        },
                        "required": [
                          "fieldId"
                        ],
                        "additionalProperties": false,
                        "description": "Custom field value for this entity"
                      }
                    },
                    "agentId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tagIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "isTest": {
                      "type": "boolean"
                    },
                    "responsibleId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "pipelineId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "stageId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "lossReasonId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "stageEnteredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "closedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "lastLeadMessageAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "contact": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "archivedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
[...]
